global
    log /var/log/haproxy/haproxy.log local0
    maxconn 8192
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  300s
    timeout server  300s
    retries 3

# Dedicated LB ports (do not collide with data-node 9000/8123)
frontend ch_native
    bind *:19000
    default_backend ch_native_backends

backend ch_native_backends
    balance roundrobin
    option tcp-check
    server replica01 192.168.56.129:9000 check inter 3s fall 3 rise 2
    server replica02 192.168.56.137:9000 check inter 3s fall 3 rise 2

frontend ch_http
    bind *:18123
    default_backend ch_http_backends

backend ch_http_backends
    balance roundrobin
    option tcp-check
    server replica01 192.168.56.129:8123 check inter 3s fall 3 rise 2
    server replica02 192.168.56.137:8123 check inter 3s fall 3 rise 2

# Restrict stats in real prod (VPN / allowlist). Lab default:
frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
